<style>
	body {background-image: url("cloudy.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
	h1{text-align: center; color: gray;}	
</style>
<h1>It's <%= @temp %> &deg;F &amp; Cloudy</h1>

