<style>
	body {background-image: url("cloudy.png");}
</style>
<div class="parent">
<div class="floater"></div>	
<div class="child">	
<h1 id="cloudy"><span><%= @temp %>&deg;F</span><br> &amp; Cloudy</h1>
</div>
</div>

