<style>
	body {background-image: url("map.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
	form{
		text-align: center;
	}
</style>
<form method="post" action="/weather">
    <h1>What's your Zip Code?</h1> 
    <input type="text" name="post[location]" />
    <input type="submit" name="Search"/>
</form>