<style>
	body {background-image: url("rainy.png");}
</style>
<div class = "parent">
<div class="floater"></div>
<div class = "child">
<h1 id="rainy"><span><%= @temp %>&deg;F</span><br> &amp; Rainy</h1>
</div>
</div>