<style>
	body {background-image: url("snowy.png");}
</style>
<div class = "parent">
<div class="floater"></div>
<div class = "child">
<h1 id="snowy"><span><%= @temp %>&deg;F</span><br> &amp; Snowy</h1>
</div>
</div>