<style>
	body {background-image: url("sunny.png");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}
	h1{text-align: center;}	
</style>
<h1>It's <%= @temp %> &deg; F &amp; Sunny</h1>
