<style>
	body {background-image: url("sunny.png");}	
</style>
<div class = "parent">
<div class="floater"></div>
<div class = "child">
<h1 id="sunny"><span><%= @temp %>&deg; F</span><br> &amp; Sunny</h1>
</div>
</div>