	body{
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
	}	
	form{
		text-align: center;
	}
	h1{
		text-align: center;
		font-family: Tahoma;
	}
	input{
		line-height: 25px;
	}
	span{
		font-size: 80px;
	}

.parent {height: 500px;}

.floater {
    float: left;
    height: 50%;
    width: 100%;
    margin-bottom: -50px;
}

.child {
    clear: both;
    height: 100px;
}
#cloudy{
	color: gray;
}
#location{
	font-size: 48px;
	color: white;
	font-weight: 300;
}
#rainy{
	color: #336699;
}
#snowy{
	color: gray;
}
#submit_button{
	color: white;
	background: #99CCCC; 
}
#sunny{
	color: #FFCC33;
}